[run]
omit =
    # Don't cover code in the env (just in case)
    env/*
    
    # Don't worry about covering vendored libraries
    src/sphobjinv/_vendored/*

[report]
exclude_lines =
    pragma: no cover
    ^\s*pass\s*$
