[run]
source =
    src

omit =
    # Don't worry about covering vendored libraries
    src/sphobjinv/_vendored/*
    setup.py
    conftest.py

[report]
exclude_lines =
    pragma: no cover
    ^\s*pass\s*$

show_missing = True
