[run]
omit =
    # Don't do coverage on test code
    sphobjinv/test/*
    tests.py

    # Don't cover code in the env (Termux only?)
    env/*

[report]
exclude_lines =
    pragma: no cover
    pragma: subprocess test
    ^\s*pass\s*$
