include AUTHORS.md CHANGELOG.md CONTRIBUTING.md LICENSE.txt pyproject.toml
include README.md requirements-dev.txt requirements-flake8.txt tox.ini

graft src/sphobjinv/_vendored/fuzzywuzzy

graft doc/source
include doc/make.bat doc/Makefile

include conftest.py
graft tests
prune tests/resource
include tests/resource/objects_attrs* tests/resource/objects_sarge*

global-exclude __pycache__/*
prune **/*.egg-info
