attrs>=17.4
certifi
codecov
coverage
dictdiffer
fuzzywuzzy>=0.3
jsonschema
md-toc
pytest>=4.4.0
pytest-check>=0.4
pytest-cov
pytest-ordering
pytest-timeout
sphinx==4.3.1
sphinx-issues
sphinx-rtd-theme
sphinxcontrib-programoutput
stdio-mgr>=1.0.1
tox
wheel
-e .
