attrs>=19.2
build
certifi
coverage
dictdiffer
jsonschema
md-toc
pytest>=4.4.0
pytest-check>=1.1.2
pytest-cov
pytest-retry
pytest-timeout
restview
sphinx==7.4.7  # Staying <8 since 8.0 drops Python 3.9
sphinx-autobuild
sphinx-issues
sphinx-rtd-theme>=0.5.1
sphinxcontrib-programoutput
stdio-mgr>=1.0.1
tox
twine
-r requirements-flake8.txt
-e .
