attrs>=19.2
certifi
codecov
coverage
dictdiffer
jsonschema
md-toc
pytest>=4.4.0
pytest-check>=1.1.2
pytest-cov
pytest-timeout
sphinx==7.4.7
sphinx-issues
sphinx-rtd-theme>=0.5.1
sphinxcontrib-programoutput
stdio-mgr>=1.0.1
tox
wheel
-e .
