attrs>=17.4
certifi
coverage
flake8
flake8-black
flake8-bugbear
flake8-builtins
flake8-colors
flake8-comprehensions
flake8-docstrings
flake8-eradicate
flake8-import-order
flake8-pie
fuzzywuzzy>=0.3
jsonschema==2.6
pep8-naming
pytest>=4.4.0
pytest-cov
pytest-ordering
pytest-subtests
pytest-timeout
restview
sphinx==1.7.6
sphinx-autobuild
sphinx-issues
sphinx-rtd-theme==0.4.1
stdio-mgr>=1.0.1
tox
twine
wget
