attrs>=17.4
certifi
codecov
coverage
fuzzywuzzy>=0.3
jsonschema==2.6
pytest>=4.4.0
pytest-cov
pytest-ordering
pytest-subtests
pytest-timeout
sphinx==1.7.6
sphinx-issues
sphinx-rtd-theme==0.4.1
stdio-mgr>=1.0.1
tox

