colorama
flake8>=6.1.0  # Avoids pycodestyle bug @ v6.0 w.r.t re.py
flake8-2020
flake8-absolute-import
flake8-bandit
flake8-black
flake8-bugbear
flake8-builtins
flake8-comprehensions
flake8-docstrings>=1.3.1
flake8-eradicate
flake8-implicit-str-concat
flake8-import-order
flake8-pie
flake8-raise
flake8-rst-docstrings
pep8-naming
