attrs>=17.4
certifi
coverage
fuzzywuzzy>=0.3
jsonschema
md-toc
pep517
pytest>=4.4.0
pytest-check>=0.4
pytest-cov
pytest-ordering
pytest-timeout
restview
rope
sphinx==3.3.1
sphinx-autobuild
sphinx-issues
sphinxcontrib-programoutput
sphinx-rtd-theme
stdio-mgr>=1.0.1
tox
twine
wget
-r requirements-flake8.txt
-e .
