name: 'READY: Run doctests'

on:
  pull_request:
    types:
      - opened
      - reopened
      - synchronize
      - ready_for_review
    branches:
      - main
      - stable

jobs:
  code_doctests:
    name: in code
    runs-on: 'ubuntu-latest'
    concurrency:
      group: ${{ github.workflow }}-${{ github.ref }}
      cancel-in-progress: true
    if: ${{ !github.event.pull_request.draft }}

    steps:
    - name: Check out repo
      uses: actions/checkout@v4

    - name: Install Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.13'
        cache: 'pip'
        cache-dependency-path: requirements-ci.txt

    - name: Update pip
      run: python -m pip install -U pip

    - name: Install dev requirements
      run: python -m pip install -r requirements-ci.txt

    - name: Run doctests
      run: |
        cd doc
        make doctest
