name: 'RELEASE: Check test code'

on:
  pull_request:
    types:
      - opened
      - reopened
      - synchronize
      - ready_for_review
    branches:
      - stable

jobs:
  check_all_tests_ran:
    name: all executed
    runs-on: 'ubuntu-latest'
    concurrency:
      group: ${{ github.workflow }}-${{ github.ref }}
      cancel-in-progress: true
    if: ${{ !github.event.pull_request.draft }}

    steps:
    - name: Check out repo
      uses: actions/checkout@v4

    - name: Install Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.13'
        cache: 'pip'
        cache-dependency-path: |
          requirements-ci.txt
          requirements-flake8.txt

    - name: Install CI requirements
      run: pip install -r requirements-ci.txt -r requirements-flake8.txt

    - name: Build docs & ensure scratch
      run: |
        cd doc
        make html
        mkdir scratch

    - name: Run pytest covering entire project tree
      run: pytest --cov=. --nonloc --flake8_ext

    - name: Check 100% test code execution
      run: coverage report --include="tests/*" --fail-under=100
